.content-container {
  background-image: url('/assets/e-learning-img-1.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100%;
  margin: 0;
  padding: 0;
  padding-top: 5rem; /* Adjust this value to match your Navbar height */
}